/* Css aplicado a todos los elementos en la web */
body {
  font-size: 16px;
  color: var(--text-color);
  background: linear-gradient(
    45deg,
    var(--bg-color1) 0%,
    var(--bg-color2) 12%,
    var(--bg-color3) 25%,
    var(--bg-color4) 37%,
    var(--bg-color5) 50%,
    var(--bg-color6) 62%,
    var(--bg-color7) 75%,
    var(--bg-color8) 87%,
    var(--bg-color1) 100%
  );
  background-size: 500%;
  animation: gradientAnimation 10s infinite;
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  z-index: 0;
  padding: 0;
}

main {
  margin: 1.5cm;
}

.container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 0;
  width: 100%;
  min-height: 100vh;
  transition: padding-left 0.25s ease-in-out;
}

.container-content.open {
  padding-left: 250px;
}

.container-content.closed {
  padding-left: 0;
}
