/* Elementos generales */

@media (max-width: 900px) {
  body {
    text-align: justify;
  }
  .close-btn {
    top: 10px;
    left: 10px;
    right: auto;
  }
  .footer,
  .container-content {
    padding-left: 0;
    font-size: 10px;
  }
  .footer {
    left: -16.9%;
    width: 116%;
  }
  .container-content.open .footer {
    left: -16%;
    width: 116%;
  }
  .container-aside-inside {
    width: 22%;
  }
  .container-content.open {
    padding-left: 140px;
  }
  #favorites-list {
    font-size: 10px;
    margin-top: 70%;
    text-decoration: none;
    padding-left: 0;
  }
  .navbar {
    gap: 10px;
    padding: 10px 0px;
    left: 55%;
  }
}

/* Elementos pagian incio */
@media (max-width: 768px) {
  .container-content.closed {
    padding-left: 15%;
  }
  .pi-page-title {
    font-size: 1rem;
  }
  .pi-section-title {
    font-size: 0.9rem;
  }
  .pi-section-description,
  .pi-feature-item,
  .pi-tech-item {
    font-size: 0.5rem;
  }
  .pi-card {
    width: 80%;
  }
  .pi-card h3 {
    font-size: 0.6rem;
  }
  .pi-card p {
    font-size: 0.6rem;
  }
  .pi-main-container {
    margin-left: 0%;
  }
  .pi-section-technologies,
  .pi-section-code,
  .pi-section-contact {
    width: 100%;
  }
}
