/* Tema predeterminado*/
:root {
  --bg-color1: #1a1a1a;
  --bg-color2: #1c1c1c;
  --bg-color3: #202020;
  --bg-color4: #242424;
  --bg-color5: #2a2a2a;
  --bg-color6: #323232;
  --bg-color7: #3a3a3a;
  --bg-color8: #424242;
  --text-color: #fff;
  --border-color: #333;
  --footer-bg-color: #1a1a1a;
  --color-1: #ff0000;
  --color-2: #ff6600;
  --color-3: #ffcc00;
  --color-4: #66cc33;
  --color-5: #00ff99;
  --color-6: #0033cc;
  --color-7: #0066ff;
  --color-8: #6600ff;
  --color-9: #cc00cc;
  --color-10: #ff0066;
  --hover-color: #555;
  --highlight-color: #6ae6ffae;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --link-color: #00aaff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color1);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

main {
  padding: 20px;
}
